*{margin:0; padding:0;}
        
/*=== Responsive Popup ===*/
.rPopup{position:absolute; left:30px; top:30px; z-index:9998; box-sizing:border-box; -ms-user-select:none; -webkit-user-select:none; user-select:none; display:none;}
.rPopup_wrap{border:0px solid #dee2e6; border-radius:3px; overflow:hidden; max-width:100%; box-sizing:border-box;}
.rPopup_wrap button{background:none; outline:none; border:none;}

/*headerBar*/
.rPopup_header{position:relative; height:0px; background:#f1f3f5; cursor:move; overflow:hidden; }

/*rPopup_body*/
.rPopupFAF4C0_body{position:relative; min-width:250px; min-height:30px; background:#;}
.rPopup_body>a{display:block; max-width:100%; height:100%;}
.rPopup_body img{vertical-align:top;}
.rPopupMobileImg{ display:none; }


/*footerBar*/
.rPopup_footer{position:relative; background:#FAF4C0; text-align:right; padding:2px; overflow:hidden;}
.rPopup_footer label{display:inline-block; vertical-align:middle; cursor:pointer;}
.rPopup_footer label input{ transform:translate(1px,2px); opacity:0.5; }
.rPopup_footer label span{ padding:7px; font-size:16px; }
.rPopup_footer button{ display:inline-block; vertical-align:middle; border:0px solid #ced4da; background:#; padding:5px 5px; border-radius:5px; cursor:pointer; font-size:15px;}


/* mobile */
.rPopup_mobile{position:fixed; left:0!important; right:0!important; top:0!important; bottom:0!important; background:rgba(0,0,0,0.7)!important; 
   padding:0 15px; text-align:center; font-size:0; pointer-events:none;}
.rPopup_mobile:before{content:''; display:inline-block; width:0; height:100%; vertical-align:middle; }
.rPopup_mobile .rPopup_wrap{ display:inline-block; vertical-align:middle; }

.rPopup_body{ text-align:left; font-size:16px; }
.rPopup_mobile .rPopup_header{cursor:default;}
.rPopup_mobile .rPopupDesktopImg,
.rPopup_mobile .rPopupMobileImg{ max-width:100%; }

.rPopup_mobile a,
.rPopup_mobile button,
.rPopup_mobile input,
.rPopup_mobile select,
.rPopup_mobile textarea,
.rPopup_mobile label{ pointer-events:auto; }
